* {
  margin: 0;
  padding: 0;
}

p {
  font-size: large;
  color: white;
}

a {
  color: white;
}

.navbar {
  width: 100vw;
  height: 55px;
  background-color: rgb(136, 119, 212);
  color: white;
  padding-top: 26px;
  text-decoration: none;
}

.header {
  width: 100vw;
  height: 120px;
  background-color: rgb(212, 119, 119);
  color: white;
  text-align: center;
}

.section {
  width: 100vw;
  height: 570px;
  background-color: rgb(72, 173, 140);
  color: white;
  text-align: center;
}

.footer {
  width: 100vw;
  height: 85px;
  background-color: rgb(225, 159, 72);
  color: white;
  text-align: center;
}

img {
    width: 300px;
}